.link { 
    z-index: 100;
    position: absolute;
    right: 70px;
}

.btn { 
    padding: 8px;
    font-weight: bold;
    border-radius: 20px;
    width: 120px;
    transition: .4s ease-in-out;
    text-align: center;
    border: 1px solid white;
    color: white;
    background-color: var(--grey);
}

.btn:hover {
    cursor: pointer;
    background-color: var(--red);
}