.link {    
    z-index: 100;
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    height: 30px;
    border: 1px solid black;
    border-radius: 8px;
    font-weight: bold;
    color: var(--grey);
    background-color: white;
}


.link:hover {
    color:white;
    background-color: var(--grey);
}

@media screen and (max-width: 400px) {
    .link {
   
        font-size: 0.8em
    
    }
}
